@mixin button() {
  width: 40px;
  height: 40px;
  font-size: 18px;
  background: transparent;
  border: none;
  cursor: pointer;
  color: $icon-color;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.7;

  span {
    pointer-events: none;
  }

  &:hover {
    border-radius: $border-radius;
    background-color: $hover-color;
    opacity: 1;
  }

  &.active {
    border-radius: $border-radius;
    background-color: $icon-color-active;
    color: $icon-color;
    opacity: 1;
  }
}
