$border-radius: 5px;
$padding-small: 10px;
$padding-medium: 15px;
$padding-big: 30px;

$bg-color: #F9FBFD;
$hover-color: #E8EBEE;
$active-color: #E1E3E6;
$text-color: #202124;
$icon-color: #444746;
$icon-color-active: rgb(233, 241, 254);
$bg-assent-color: #EDF2FA;