$header-height: 34px;
$border-radius: 5px;
$color-darck: #00033f;
$button-icon-color: #262452;
$button-bg-color-hover: #e9ebf5;
$button-bg-color-active: #bbc0d4;
$background-color: #f2f5fd;
$padding-small: 10px;
$padding-medium: 15px;
$padding-big: 30px;