@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@import "~normalize.css";

@import "header";
@import "toolbar";
@import "formula";
@import "table";
@import "dashboard";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: normal;
  width: calc(100% - 40px);
  margin: 0 auto;
  color: $text-color;
  background-color: $bg-color;
  text-decoration: none;
}

.excel {
  position: relative;
}
