@import "variables";
@import "mixins";

.excel__table {
  background-color: #fff;
  width: 100%;
  padding-block-end: $padding-big;
  height: 80vh;
  overflow: scroll;

  .table {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 3;
  }

  .table-row {
    display: flex;
    height: 26px;
    position: sticky;
    z-index: 2;
    top: 0px;
    padding-inline-start: 70px;
    width: fit-content;
    height: fit-content;
  }

  .tabel-column-empty {
    background-color: $button-bg-color-active;
    width: 70px;
    height: 26px;
    border: 1px solid #555;
    position: fixed;
    z-index: 2;
    left: 20px;
  }

  .tabel-column-count {
    background-color: $button-bg-color-hover;
    width: 120px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #555;
    border-left: none;
    
  }

  .table-row-data {
    display: flex;
    height: 26px;
  }

  .tabel-row-count {
    background-color: $button-bg-color-hover;
    width: 70px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #555;
    border-top: none;
    position: sticky;
    left: 0px;
  }

  .tabel-column {
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $button-bg-color-hover;
    border-top: none;
    border-left: none;
    white-space: nowrap;
    
  }

  .tabel-column:focus-visible{
    outline: 2px solid blue;
  }

  .selected {
    outline: 2px solid blue;
  }
}

