@import "variables";
@import "mixins";

.excel__toolbar {
  position: fixed;
  left: 20px;
  right: 20px;
  top: 70px;
  z-index: 4;
  padding-block-start: $padding-small;
  background: $bg-color;
  display: flex;
  gap: $padding-medium;

  & .button {
    @include button() 
  }
}